body {
  margin: 0;
  font-family: 'Trebuchet MS', sans-serif;
  background: url('fotoceubonito.jpg') center/cover;
  height: 100vh;
  color: #0a2a66;
}
body {
  margin: 0;
  font-family: 'Trebuchet MS', sans-serif;
  background-image: url('../fotoceubonito.jpg');;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  color: #0a2a66;
}

.container {
  position: relative;
 z-index: 1;  width: 80%;
  margin: 40px auto;
}


header {
  text-align: center; color: white;
}

header h1 {
  font-size: 40px;
  margin: 0;
}
header p {
  font-size: 20px;
}
nav {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin: 20px 0;
}

nav a {
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 25px;

  background: linear-gradient(#6ea8ff, #2f6df6);
  color: rgb(255, 255, 255);

  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  transition: 0.2s;
}
nav a:hover {
  transform: scale(1.05);
}

.card {
  width: 80%;
  max-width: 950px;
 display: flex;
  align-items: center;
  gap: 125px;
  margin: 40px auto;

  padding: 25px;
 border-radius: 30px;

  background: rgba(156, 179, 241, 0.432);
  backdrop-filter: blur(12px);
  box-shadow: 0 0 20px rgba(0,0,0,0.3);
}
.card img {
  margin-left: 30px;
  width: 250px;
  border-radius: 30%;
  border: 6px solid rgb(20, 3, 255);
}

.btn {
  display: block;
  margin: 30px auto;
  width: 200px;
  text-align: center;
  padding: 15px;
  border-radius: 30px;
  background: linear-gradient(#a6c8ff, #3a7bff);
  color: #002b7a;
  font-weight: bold;
  box-shadow: inset 0 0 10px rgba(255,255,255,0.5),
              0 0 10px rgba(0,0,0,0.3);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;

  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(8px);

  border-radius: 15px;
  overflow: hidden;
}


thead {
  background: linear-gradient(#6ea8ff, #2f6df6);
  color: white;
}

th, td {
  padding: 12px;
  text-align: left;
}


tbody tr {
  background: rgba(255, 255, 255, 0.3);
}

tbody tr:nth-child(even) {
  background: rgba(255, 255, 255, 0.15);
}


tbody tr:hover {
  background: rgba(255, 255, 255, 0.5);
  transition: 0.2s;
}

th, td {
  border-bottom: 1px solid rgba(255,255,255,0.3);
}
.formacao p {
   margin-top: 50px;
  border-left: 0px solid;
  margin: 40px;
  line-height: 1.6;
  color: #002b7a;
}
.card {
   margin: 15px
  background: rgba(255,255,255,0.25);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.card {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px; 
    padding: 40px;
    border-radius: 30px;
    background: rgba(156, 179, 241, 0.4);
    backdrop-filter: blur(12px);
}

.fechar {
    position: absolute;
    top: 1px;
    right: 15px;
    text-decoration: none;
    color: #0a2a66;
    font-weight: bold;
    font-family: sans-serif;
}